body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.h2or{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
}
.varor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    justify-content: center;
}
