body{
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: auto;
}
h1
{
    grid-row: 1/2;
    grid-column: 1/4;
}
#cart-list{
    li{
        margin-top: 50px;
        /* margin-bottom: 90px; */
    }
}
ul{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
#priser{
    li{
        margin-top: 50px;
    }
}